In [35]:
import pandas as pd
import numpy as np

In [13]:
## Import CPI data

In [63]:
file_names =['food_and_beverages', 'USApparel', 'USCommoditiesServicesSpecial', 'USEducationandCommunication', 'UShousing', 'USMedical', 'USOtherGoodsAndServices', 'USRecreation', 'USTransportation' ]

In [64]:
file_names

['food_and_beverages',
 'USApparel',
 'USCommoditiesServicesSpecial',
 'USEducationandCommunication',
 'UShousing',
 'USMedical',
 'USOtherGoodsAndServices',
 'USRecreation',
 'USTransportation']

In [51]:
data = pd.read_excel('../../data/CPI_Data/food_and_beverages.xlsx')

In [ ]:
## have to merge parts of id that is incorrectly stored in variable year

In [5]:
additional_column =  (data.T.loc['year']).str.split(expand=True)

In [6]:
type(additional_column)

pandas.core.frame.DataFrame

In [7]:
additional_column.columns=['suffix', 'year']

In [8]:
additional_column

       suffix  year
0         NaN   NaN
1         NaN   NaN
2         NaN   NaN
3         NaN   NaN
4         NaN   NaN
5         NaN   NaN
6         NaN   NaN
7         NaN   NaN
8         NaN   NaN
9         NaN   NaN
10        NaN   NaN
11        NaN   NaN
12        NaN   NaN
13        NaN   NaN
14        NaN   NaN
15        NaN   NaN
16        NaN   NaN
17        NaN   NaN
18        NaN   NaN
19        NaN   NaN
20        NaN   NaN
21        NaN   NaN
22        NaN   NaN
23        NaN   NaN
24        NaN   NaN
25        NaN   NaN
26        NaN   NaN
27        NaN   NaN
28        NaN   NaN
29        NaN   NaN
...       ...   ...
127988      V  2008
127989      V  2008
127990      V  2009
127991      V  2009
127992      V  2009
127993      V  2010
127994      V  2010
127995      V  2010
127996      V  2011
127997      V  2011
127998      V  2011
127999      V  2012
128000      V  2012
128001      V  2012
128002      V  2013
128003      V  2013
128004      V  2013
128005      V  2014
128006      V  2014
128007      V  2014
128008      V  2015
128009      V  2015
128010      V  2015
128011      V  2016
128012      V  2016
128013      V  2016
128014      V  2017
128015      V  2017
128016      V  2017
128017      V  2018

[128018 rows x 2 columns]

In [52]:
data.loc[:,'series_id'] =  pd.Series(data.T.loc['series_id']).str.cat(additional_column.T.loc['suffix'], sep='', na_rep=' ')

In [12]:
boolean_isnan = pd.isna(pd.Series(additional_column.T.loc['year']))

0          True
1          True
2          True
3          True
4          True
5          True
6          True
7          True
8          True
9          True
10         True
11         True
12         True
13         True
14         True
15         True
16         True
17         True
18         True
19         True
20         True
21         True
22         True
23         True
24         True
25         True
26         True
27         True
28         True
29         True
          ...
127988    False
127989    False
127990    False
127991    False
127992    False
127993    False
127994    False
127995    False
127996    False
127997    False
127998    False
127999    False
128000    False
128001    False
128002    False
128003    False
128004    False
128005    False
128006    False
128007    False
128008    False
128009    False
128010    False
128011    False
128012    False
128013    False
128014    False
128015    False
128016    False
128017    False
Name: year, Length: 128018, dtype: bool

In [ ]:
## the below code does not give an error but takes ages to run.
## what i had before worked faster but gave a warning: 
## data.loc[:,'year'][boolean_isnan == False] = additional_column.loc[:,'year']

In [61]:
 data.loc[:,'year'][boolean_isnan == False] = additional_column.loc[:,'year']

C:\Users\sdobkowitz\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [ ]:
for i in range(len(boolean_isnan)):
    if boolean_isnan[i] == False:
          data.loc[i,'year'] = additional_column.loc[i,'year']

In [62]:
##check whether has worked
data

           series_id  year period     value
0       CUSR0000SAF   1967    M01      34.8
1       CUSR0000SAF   1967    M02      34.7
2       CUSR0000SAF   1967    M03      34.7
3       CUSR0000SAF   1967    M04      34.6
4       CUSR0000SAF   1967    M05      34.6
5       CUSR0000SAF   1967    M06      34.9
6       CUSR0000SAF   1967    M07      35.0
7       CUSR0000SAF   1967    M08      35.2
8       CUSR0000SAF   1967    M09      35.2
9       CUSR0000SAF   1967    M10      35.3
10      CUSR0000SAF   1967    M11      35.4
11      CUSR0000SAF   1967    M12      35.5
12      CUSR0000SAF   1968    M01      35.5
13      CUSR0000SAF   1968    M02      35.7
14      CUSR0000SAF   1968    M03      35.8
15      CUSR0000SAF   1968    M04      36.0
16      CUSR0000SAF   1968    M05      36.1
17      CUSR0000SAF   1968    M06      36.1
18      CUSR0000SAF   1968    M07      36.2
19      CUSR0000SAF   1968    M08      36.3
20      CUSR0000SAF   1968    M09      36.5
21      CUSR0000SAF   1968    M10      36.8
22      CUSR0000SAF   1968    M11      36.8
23      CUSR0000SAF   1968    M12      37.0
24      CUSR0000SAF   1969    M01      37.0
25      CUSR0000SAF   1969    M02      37.0
26      CUSR0000SAF   1969    M03      37.1
27      CUSR0000SAF   1969    M04      37.4
28      CUSR0000SAF   1969    M05      37.6
29      CUSR0000SAF   1969    M06      38.0
...              ...   ...    ...       ...
127988  CUUSS000SEFV  2008    S02  188669.0
127989  CUUSS000SEFV  2008    S03  186327.0
127990  CUUSS000SEFV  2009    S01  191864.0
127991  CUUSS000SEFV  2009    S02  193146.0
127992  CUUSS000SEFV  2009    S03  192505.0
127993  CUUSS000SEFV  2010    S01  193996.0
127994  CUUSS000SEFV  2010    S02  195645.0
127995  CUUSS000SEFV  2010    S03  194820.0
127996  CUUSS000SEFV  2011    S01  198355.0
127997  CUUSS000SEFV  2011    S02  201279.0
127998  CUUSS000SEFV  2011    S03  199817.0
127999  CUUSS000SEFV  2012    S01  204045.0
128000  CUUSS000SEFV  2012    S02  206736.0
128001  CUUSS000SEFV  2012    S03  205391.0
128002  CUUSS000SEFV  2013    S01  208539.0
128003  CUUSS000SEFV  2013    S02  210281.0
128004  CUUSS000SEFV  2013    S03  209410.0
128005  CUUSS000SEFV  2014    S01  212665.0
128006  CUUSS000SEFV  2014    S02  215942.0
128007  CUUSS000SEFV  2014    S03  214303.0
128008  CUUSS000SEFV  2015    S01  218863.0
128009  CUUSS000SEFV  2015    S02  221892.0
128010  CUUSS000SEFV  2015    S03  220378.0
128011  CUUSS000SEFV  2016    S01  225264.0
128012  CUUSS000SEFV  2016    S02  228089.0
128013  CUUSS000SEFV  2016    S03  226676.0
128014  CUUSS000SEFV  2017    S01  230738.0
128015  CUUSS000SEFV  2017    S02  233745.0
128016  CUUSS000SEFV  2017    S03  232242.0
128017  CUUSS000SEFV  2018    S01  237382.0

[128018 rows x 4 columns]

In [ ]:
## read in series identifier data only if in series_id of current dataset

In [20]:
series_id = pd.DataFrame(data=data.T.loc['series_id']).drop_duplicates(subset='series_id')

In [21]:
series_id

          series_id
0       CUSR0000SAF
8832    CUSR0000SEF
37741   CUSR0000SS0
42609   CUSR0000SS1
46182   CUSR0000SS2
46971   CUUR0000SAF
58428   CUUR0000SEF
100548  CUUR0000SS0
112714  CUUR0000SS1
120689  CUUR0000SS2
122759  CUURN000SAF
123907  CUURN000SEF
124191  CUURS000SAF
125911  CUURS000SEF
126338  CUUS0000SAF
126960  CUUS0000SEF
127231  CUUSN000SAF
127480  CUUSN000SEF
127542  CUUSS000SAF
127923  CUUSS000SEF

In [66]:
encoding_data = pd.read_excel('../../data/CPI_Data/Series encoding.xlsx')

In [67]:
encoding_data

,series_id,area_code,item_cod,e,seas,onal,periodicity_code base_code base_period series_title footnote_codes begin_year begin_period end_ye,ar,end_peri,od,Unnamed: 10,Unnamed: 11,Unnamed: 12
0,CUSR0000SA0,0,SA0,S,R,S,1982-84=100 All items in U.S. city average...,2018,M11,NaN,NaN,NaN,NaN
1,CUSR0000SA0E,0,SA0E,S,R,S,"1982-84=100 Energy in U.S. city average, a...",M11,NaN,NaN,NaN,NaN,NaN
2,CUSR0000SA0L1,0,SA0L1,S,R,S,1982-84=100 All items less food in U.S. ci...,M01,2018,M11,NaN,NaN,NaN
3,CUSR0000SA0L12,0,SA0L12,S,R,S,1982-84=100 All items less food and shelte...,1967,M01,2018,M11,NaN,NaN
4,CUSR0000SA0L12E,0,SA0L12E,S,R,S,"1982-84=100 All items less food, shelter, ...",NaN,1967,M01,2018,M11,NaN
5,CUSR0000SA0L12E4,0,SA0L12E4,NaN,S,R,"S 1982-84=100 All items less food, s...","rs, seas",onally adj,usted,NaN,NaN,1967 M01 2018 M11
6,CUSR0000SA0L1E,0,SA0L1E,S,R,S,1982-84=100 All items less food and energy...,1957,M01,2018,M11,NaN,NaN
7,CUSR0000SA0L2,0,SA0L2,S,R,S,1982-84=100 All items less shelter in U.S....,M01,2018,M11,NaN,NaN,NaN
8,CUSR0000SA0L5,0,SA0L5,S,R,S,1982-84=100 All items less medical care i...,1957,M01,2018,M11,NaN,NaN
9,CUSR0000SA0LE,0,SA0LE,S,R,S,1982-84=100 All items less energy in U.S. ...,M01,2018,M11,NaN,NaN,NaN
10,CUSR0000SA311,0,SA311,S,R,S,1982-84=100 Apparel less footwear in U.S. ...,M01,2018,M11,NaN,NaN,NaN
11,CUSR0000SAA,0,SAA,S,R,S,"1982-84=100 Apparel in U.S. city average, ...",M11,NaN,NaN,NaN,NaN,NaN
12,CUSR0000SAA1,0,SAA1,S,R,S,1982-84=100 Men's and boys' apparel in U.S...,M01,2018,M11,NaN,NaN,NaN
13,CUSR0000SAA2,0,SAA2,S,R,S,1982-84=100 Women's and girls' apparel in ...,1947,M01,2018,M11,NaN,NaN
14,CUSR0000SAC,0,SAC,S,R,S,1982-84=100 Commodities in U.S. city avera...,2018,M11,NaN,NaN,NaN,NaN
15,CUSR0000SACE,0,SACE,S,R,S,1982-84=100 Energy commodities in U.S. cit...,M01,2018,M11,NaN,NaN,NaN
16,CUSR0000SACL1,0,SACL1,S,R,S,1982-84=100 Commodities less food in U.S. ...,M01,2018,M11,NaN,NaN,NaN
17,CUSR0000SACL11,0,SACL11,S,R,S,1982-84=100 Commodities less food and beve...,NaN,1967,M01,2018,M11,NaN
18,CUSR0000SACL1E,0,SACL1E,S,R,S,1982-84=100 Commodities less food and ener...,NaN,NaN,1957,M01,2018,M11
19,CUSR0000SACL1E4,0,SACL1E4,S,R,S,"1982-84=100 Commodities less food, energy,...",adjusted,NaN,NaN,1967,M01,2018 M11
20,CUSR0000SAD,0,SAD,S,R,S,"1982-84=100 Durables in U.S. city average,...",M11,NaN,NaN,NaN,NaN,NaN
21,CUSR0000SAE,0,SAE,S,R,S,DECEMBER 1997=100 Education and communic...,NaN,1993,M01,2018,M11,NaN
22,CUSR0000SAE1,0,SAE1,S,R,S,DECEMBER 1997=100 Education in U.S. city...,M01,2018,M11,NaN,NaN,NaN
23,CUSR0000SAE2,0,SAE2,S,R,S,DECEMBER 1997=100 Communication in U.S. ...,M01,2018,M11,NaN,NaN,NaN
24,CUSR0000SAE21,0,SAE21,S,R,S,DECEMBER 1997=100 Information and inform...,NaN,NaN,2006,M01,2018,M11
25,CUSR0000SAEC,0,SAEC,S,R,S,DECEMBER 2009=100 Education and communic...,NaN,NaN,2010,M01,2018,M11
26,CUSR0000SAES,0,SAES,S,R,S,DECEMBER 2009=100 Education and communic...,NaN,NaN,2010,M01,2018,M11
27,CUSR0000SAF,0,SAF,S,R,S,1982-84=100 Food and beverages in U.S. cit...,M01,2018,M11,NaN,NaN,NaN
28,CUSR0000SAF1,0,SAF1,S,R,S,"1982-84=100 Food in U.S. city average, all...",M11,NaN,NaN,NaN,NaN,NaN
29,CUSR0000SAF11,0,SAF11,S,R,S,1982-84=100 Food at home in U.S. city aver...,2018,M11,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
7766,CUUSS49GSAH31,S49G,SAH31,U,S,S,DECEMBER 2009=100 Household furnishings ...,NaN,NaN,2010,S01,2018,S01
7767,CUUSS49GSAM,S49G,SAM,U,S,S,"1982-84=100 Medical care in Urban Alaska, ...",2018,S01,NaN,NaN,NaN,NaN
7768,CUUSS49GSAN,S49G,SAN,U,S,S,"1982-84=100 Nondurables in Urban Alaska, a...",2018,S01,NaN,NaN,NaN,NaN
7769,CUUSS49GSANL1,S49G,SANL1,U,S,S,1982-84=100 Nondurables less food in Urban...,S01,2018,S01,NaN,NaN,NaN
7770,CUUSS49GSANL11,S49G,SANL11,U,S,S,1982-84=100 Nondurables less food and beve...,NaN,1984,S01,2018,S01,NaN
7771,CUUSS49GSAR,S49G,SAR,U,S,S,DECEMBER 1997=100 Recreation in Urban Al...,S01,2018,S01,NaN,NaN,NaN
7772,CUUSS49GSAS,S49G,SAS,U,S,S,"1982-84=100 Services in Urban Alaska, all ...",S01,NaN,NaN,NaN,NaN,NaN
7773,CUUSS49GSASL2RS,S49G,SASL2RS,U,S,S,NOVEMBER 1982=100 Services less rent of ...,NaN,1984,S01,2018,S01,NaN
7774,CUUSS49GSASL5,S49G,SASL5,U,S,S,1982-84=100 Services less medical care ser...,NaN,1984,S01,2018,S01,NaN
7775,CUUSS49GSAT,S49G,SAT,U,S,S,1982-84=100 Transportation in Urban Alaska...,2018,S01,NaN,NaN,NaN,NaN
7776,CUUSS49GSAT1,S49G,SAT1,U,S,S,1982-84=100 Private transportation in Urba...,S01,2018,S01,NaN,NaN,NaN
7777,CUUSS49GSATCLTB,S49G,SATCLTB,U,S,S,DECEMBER 2009=100 Transportation commodi...,ed,NaN,NaN,2010,S01,2018 S01
7778,CUUSS49GSEEB,S49G,SEEB,U,S,S,"JANUARY 1978=100 Tuition, other school ...",d,NaN,2018,S01,2018,S01
7779,CUUSS49GSEFJ,S49G,SEFJ,U,S,S,1982-84=100 Dairy and related products in ...,2018,S01,2018,S01,NaN,NaN
7780,CUUSS49GSEFV,S49G,SEFV,U,S,S,1982-84=100 Food away from home in Urban A...,S01,2018,S01,NaN,NaN,NaN
7781,CUUSS49GSEHA,S49G,SEHA,U,S,S,1982-84=100 Rent of primary residence in U...,S01,2018,S01,NaN,NaN,NaN
7782,CUUSS49GSEHC,S49G,SEHC,U,S,S,NOVEMBER 1982=100 Owners' equivalent ren...,NaN,NaN,1984,S01,2018,S01
7783,CUUSS49GSEHC01,S49G,SEHC01,U,S,S,NOVEMBER 1982=100 Owners' equivalent ren...,sted,NaN,NaN,1984,S01,2018 S01
7784,CUUSS49GSEHF,S49G,SEHF,U,S,S,1982-84=100 Gas (piped) and electricity in...,1984,S01,2018,S01,NaN,NaN
7785,CUUSS49GSEHF01,S49G,SEHF01,U,S,S,"1982-84=100 Electricity in Urban Alaska, a...",2018,S01,NaN,NaN,NaN,NaN
7786,CUUSS49GSEHF02,S49G,SEHF02,U,S,S,1982-84=100 Utility (piped) gas service in...,1984,S01,2018,S01,NaN,NaN
7787,CUUSS49GSETA,S49G,SETA,U,S,S,DECEMBER 1997=100 New and used motor veh...,NaN,2018,S01,2018,S01,NaN
7788,CUUSS49GSETA01,S49G,SETA01,U,S,S,JANUARY 1978=100 New vehicles in Urban ...,S01,2018,S01,NaN,NaN,NaN
7789,CUUSS49GSETA02,S49G,SETA02,U,S,S,JANUARY 1978=100 Used cars and trucks i...,2018,S01,2018,S01,NaN,NaN
7790,CUUSS49GSETB,S49G,SETB,U,S,S,"1982-84=100 Motor fuel in Urban Alaska, al...",2018,S01,NaN,NaN,NaN,NaN
7791,CUUSS49GSETB01,S49G,SETB01,U,S,S,1982-84=100 Gasoline (all types) in Urban ...,S01,2018,S01,NaN,NaN,NaN
7792,CUUSS49GSETE,S49G,SETE,U,S,S,JANUARY 1978=100 Motor vehicle insuranc...,2018,S01,2018,S01,NaN,NaN
7793,CUUSS49GSS47014,S49G,SS47014,U,S,S,"1982-84=100 Gasoline, unleaded regular in ...",1984,S01,2018,S01,NaN,NaN
7794,CUUSS49GSS47015,S49G,SS47015,U,S,S,"DECEMBER 1993=100 Gasoline, unleaded mid...",NaN,1995,S01,2018,S01,NaN
7795,CUUSS49GSS47016,S49G,SS47016,U,S,S,"1982-84=100 Gasoline, unleaded premium in ...",1984,S01,2018,S01,NaN,NaN